:root{
    //COLORS
    //Primary
    --Pink: hsl(322, 100%, 66%);

    //Neutrals
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    //FONTS
    --Font-size: 18px;
}

body{
    width: 100%;
    //FONTS
    font-size: --Font-size;
    font-family: 'Open sans', 'Poppins', sans-serif;
}


//HEADER -------------------------------------------------

.header{
    width: 100%;
    //max-width: 375px;
    background: var(--Very-Pale-Cyan);
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    padding-left: 16px!important;
    padding-top: 22px!important;
    padding-right: 16px!important;
}

.head{
    display:flex;
    justify-content: space-between;
}

.head__logo{
    height: 17px;
    margin-top: 4px;
}

.button-white{
    width: 100px;
    height: 24px;
    background:white;
    border-radius: 2rem;
    box-shadow: 0px 1px 2px 1px hsla(0, 0%, 0%, 0.100);
    display: flex;
    justify-content :center;
    align-items: center;

    a{
        text-decoration:none;
        color:var(--Very-Dark-Cyan);
        font-weight: bolder;
        text-transform: capitalize;
        font-size: .68rem;
    }
}

.ctaction{
    width: 100%;
    //max-width: 350px;
    margin-top: 5.2rem!important;
}

.ctaction__title{
    padding: 0 24px;
    color: var(--Very-Dark-Cyan);
    font-family: 'poppins';
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 2.2rem;
}

.ctaction__text{
    font-family: 'Open sans';
    padding: 1rem 1.1rem;
    font-size: 1rem;
    font-weight: 400;
    text-align:center;
}

.button-pink{
    width: 240px;
    height: 40px;
    margin:auto;
    background:var(--Pink);
    border-radius: 2rem;
    box-shadow: 0px 1px 2px 1px hsla(0, 0%, 0%, 0.100);
    display: flex;
    justify-content :center;
    align-items: center;

    a{
        text-decoration:none;
        color:white;
        font-weight: bolder;
        text-transform: capitalize;
        font-size: .68rem;
        letter-spacing: 0.08em;
    }
}

.ilustration img{
    //temporal
    width: 100%;
    //max-width: 300px;
    margin: 3.2rem 0 2rem 0;
    padding: 0 1.3rem;
}


//MAIN--------------------------------------------
.main{
    width: 100%;
    padding: 3.8rem 1.1rem 11rem!important;
}

.cards{
    width: 100%;
    max-width: 100vw;
    margin-bottom: 2.2rem;
    border: 0.5px solid rgba(0, 0, 0, 0.09);
    border-radius: .5rem;
    //MEJORAR!!!
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.09);
}


.cards__img{
    width: 100%;
    max-width: 70%;
    margin:3.2rem 15% 3.7rem;
}

.cards__title{
    font-family: 'Poppins';
    text-align:center;
    font-size: 1.25rem;
    font-weight: bold;
}

.cards__text{
    padding: 0.65rem 2.4rem 1rem;
    font-family: 'Open sans';
    color: var(--Grayish-Blue);
    text-align: center;
    font-size: 0.88rem;
}


//CTA-CARD---------------------------------------
.rounded-cards{
    width: 100%;
    max-width: 100vw;
    margin-top: -13.5rem;
    margin-bottom: 2.2rem;
    padding: 3.3rem 0 2.5rem;
    background: white!important;
    color: var(--Very-Dark-Cyan);
    border: 0.5px solid rgba(0, 0, 0, 0.09);
    border-radius: 1rem;
    //mejorar!!!
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.09);
}

.rounded-cards__title{
    margin-bottom: 1.4rem ;
    font-family: 'Poppins';
    text-align:center;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.button-pink-l{
    width: 200px;
    height: 40px;
    margin:auto;
    background:var(--Pink);
    border-radius: 2rem;
    box-shadow: 0px 1px 2px 1px hsla(0, 0%, 0%, 0.100);
    display: flex;
    justify-content :center;
    align-items: center;

    a{
        text-decoration:none;
        color:white;
        font-weight: bolder;
        text-transform: capitalize;
        font-size: .55rem;
        letter-spacing: 0.08em;
    }
}

//FOOTER-----------------------------------------

.footer{
    padding: 6.8rem 1rem 2rem!important;
    background: var(--Very-Dark-Cyan);
    color:var(--Very-Pale-Cyan);
    font-family: 'Open sans';
    
    /* *{
        border: 1px solid red;
    } */
}

.footer__img{
    margin:1.6rem 0!important;
    width: 11.5rem!important;

}

.footer__contacts{
    margin-bottom: 2.3rem;
}

.footer__contact{
    display:inline-flex;
    margin-bottom: 0.3rem;
}

.footer__ico{
    max-height: 1.1rem;
    margin-right: 1rem;
}

.aux__ico{
    margin-top: 0.4rem;
    margin-right: 1.55rem;
}

.footer__text{
    padding-right: 1.2rem;
    font-size: 0.96rem;
    line-height: 1.6rem!important;
}

.footer__links{
/*     display:flex;
    flex-direction: column; */
}

.footer__links-ul{
    list-style: none;
    padding:0;
    margin:0;
}

.footer__links-li{
    margin-bottom: 1.1rem;
}

.footer__link{ 
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    font-size: 1.1rem;
}

.footer__link:hover{ 
    text-decoration:underline;
    color: var(--Very-Pale-Cyan);
}

.footer__social{
    width: 100%;
    margin-top: 1.7rem!important;
    display:flex;
    justify-content: center;

}

.footer__social-ico{
    margin: 0.5rem;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    border: 1px solid var(--Very-Pale-Cyan)!important;
    border-radius: 50%;
}

.footer__social-ico:hover{
    color:var(--Pink);
    border: 1px solid var(--Pink)!important;
}

.aux__social{
    padding: 0.2rem 0.5rem!important;
}

.footer__copyright{
    margin: 1rem auto!important;
    font-family: 'Poppins';
    font-weight: lighter;
    text-align:center;
    font-size: 0.65rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
